.cta {
  width: 90%;

  padding: 20px;
  margin: 3rem auto;

  background-color: #232c5392;

  box-shadow: #1b1b1b 1px 0px 0px 0px;

  border-radius: 1.6rem;
  overflow: hidden;
}

.cta h1 {
  font-family: "Roboto Condensed", sans-serif;

  color: #fff;
  display: inline-block;
  padding: 0rem 1rem;
  margin: 0px;
  font-size: 1.3rem;

  background: rgb(33, 34, 31);
  border-radius: 50px;
  border: none;
}

.cta-text-box {
  // padding: 0 20px;
  text-align: center;
  // display: grid;
  // grid-template-columns: 1fr;

  // padding: 20px;
}

.cta .heading-secondary {
  color: inherit;
}

.cta-text {
  color: white;
  font-size: 1.3rem;
  line-height: 1.8;
}

.cta-form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.cta-form input,
.cta-form textarea,
.cta-form select {
  width: 50%;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  color: black;
  border: none;
  background-color: #fdf2e9;

  border-radius: 9px;
}

.cta-form input::placeholder {
  color: black;
}

.cta *:focus {
  outline: none;
}

.cta-button {
  // width: 50%;
  border-radius: 8px;
  border-width: 0;
  color: #e3e2e2;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-top: 2rem;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: rgb(18, 18, 18);

  &:hover {
    background: #fdf2e9;
    color: #1b1b1b;
  }
}

@media screen and (max-width: 335px) {
  .cta {
    padding: 5px;
  }

  .cta-text {
    font-size: 0.8rem;
    line-height: 1.8;
  }

  .cta-form label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  .cta-form input,
  .cta-form textarea,
  .cta-form select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: inherit;
    color: black;
    border: none;
    background-color: #fdf2e9;

    border-radius: 9px;
  }
}
