.experience-accord {
  margin: 2rem 0rem;
  padding: 0 6rem;
}

.accord-panel {
  font-family: "Google Sans Regular";
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px 0px;
    padding: 0 25px;
  }

  .accord-panel {
    margin-bottom: 1rem; // Ensure the space is also applied on smaller screens
  }
}
